*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

@import "bootstrap/less/normalize";
@import "bootstrap/less/variables";
@import "bootstrap/less/mixins";
@import "bootstrap/less/grid";
@import "bootstrap/less/responsive-utilities";
@import "bootstrap/less/utilities";
@import "font-awesome/less/font-awesome";

@import "prism/prism";

@import "app/animations";
@import "app/layout";
@import "app/type";
@import "app/buttons";
@import "app/alerts";
@import "app/nav";
@import "app/global";
@import "app/social";
@import "app/index";
@import "app/blog";
@import "app/projects";
@import "app/resume";
@import "app/about";
@import "app/contact";

@fa-font-path:    "fonts/vendors/fontawesome";

// Palette
@red: #7c1d31;
@red-alt: #9a1834;

@blue: #325362;
@blue-alt: #60919f;

@gray-blue: #87969e;
@gray-light: #ecf0f1;
@gray-light-alt: #bdc3c7;
@gray: #494949;
@gray-alt: #5E696F;
@gray-dark: #353535;
@gray-dark-alt: lighten(@gray-dark, 20%);

@turquoise: #64b4b0;
