---
layout: page
title: Projects
---
.title
  %h1 Projects
#container.container
  .row    
    .span9
      - page.projects.each do |project|
        = partial('project.html.haml', {'parent'=>page, 'project'=>project, 'alone' => false})
    .span3
      .spynav.follow-scroll.hidden-phone
        %ul.nav.nav-list.well
          %li.nav-header
            Projects
          - for project in site.projects
            %li{:class=>"#{project.project_type}"}
              %a.anchorLink{:href=>"##{File.basename(project.relative_source_path, '.textile')}"} #{project.title}