---
layout: page
title: About
---
.title
  %h1 About
  
#container.container
  .row
    .span6
      .well
        %h6 About me
        %p.clearfix
          %img.pull-left{:src=>"https://secure.gravatar.com/avatar/083b6c8764b4c418ce359f23aababbae?size=60", :style=>"margin-right:20px;"}
          Hi guys!
        %p So
        .clearfix
          = partial("social-icons.html.haml")
      
    .span6
      .well
        %h6 About the website
        %p 