---
layout: main
---
.container
  %ul.archives
    - site.posts.each do |post|
      %li
        %a.archive{:href=>post.url}
          %span.title= post.title
          %span.meta
            %span.fa.fa-calendar.fa-fw
            %span.date= post.date.strftime( '%b %d, %Y' )
            - if post.tags
              |
              %span.fa.fa-tags.fa-fw
              Tags :
              - for tag in post.tags
                - unless tag.nil?
                  %span.tag.label.label-default= tag
