---
layout: main
title: Contact
---
.contact
  .row
    %section.social
      = partial('social-icons.html.haml', {'visible' => true})

  .row
    %section.email.col.col-md-7
      %form#formContact.form-horizontal{:style=>"margin:0px;"}
        %h2 Contact form

        .control-group.contactName
          %label.control-label{:for=>"contactName"}
            Name
            %span.required *
          %input#contactName.span4{:type=>"text", :name=>"contactName", :required=>"required"}
        .control-group.contactEmail
          %label.control-label{:for=>"contactEmail"}
            Email
            %span.required *
          %input#contactEmail.span4{:type=>"email", :name=>"contactEmail", :required=>"required"}
        .control-group.contactSubject{:for=>"contactSubject"}
          %label.control-label{:for=>"contactSubject"}
            Subject
            %span.required *
          %input#contactSubject.span4{:type=>"text", :name=>"contactSubject", :required=>"required"}
        .control-group.contactMessage
          %label.control-label{:for=>"contactMessage"}
            Message
            %span.required *
          %textarea#contactMessage.span4{:name=>"contactMessage", :required=>"required"}
        %button.button.pull-right{:type=>"button", :onclick=>"submitContact();return false;"}
          %span.fa.fa-check-circle.fa-lg.fa-fw
          Send
        %button.button.pull-right{:type=>"reset", :onclick=>"cleanForm('#formContact');"}
          %span.fa.fa-times-circle.fa-lg.fa-fw
          Cancel

    %section.irc.col.col-md-5
      %h2 IRC
      %p
        I'm killing time on
        %a{:href=>"http://freenode.net/"} irc.freenode.net
        on one of the following channels:
      .row
        .col.col-md-6
          %ul.list-unstyled{:style=>"margin-left:20px;"}
            %li #angularjs
            %li #richfaces
            %li #deltaspike
            %li #agorava
        .col.col-md-6
          %ul.list-unstyled{:style=>"margin-left:20px;"}
            %li #forge
            %li #aerogear
            %li #awestruct
            %li #jbosstesting
      %p
        If you don't have an IRC client, just click on this link:
        %a{:href=>"http://webchat.freenode.net/", :target=>"_blank"} webchat.freenode.net
