---
layout: page
title: Contact
---
.title
  %h1 Contact
  %h6 Choose your weapon!
  
#container.container
  .row
    .span8
      .well
        %h6.bot10 Contact form
        %form.form-horizontal{:style=>"margin:0px;"}
          .control-group
            .control-label
              Name 
              %span.required *
            .controls
              %input#contactName.input-xlarge{:type=>"text", :name=>"contactName"}
          .control-group
            .control-label
              Email 
              %span.required *
            .controls
              %input#contactEmail.input-xlarge{:type=>"text", :name=>"contactEmail"}
          .control-group
            .control-label
              Subject 
              %span.required *
            .controls
              %input#contactSubject.input-xlarge{:type=>"text", :name=>"contactSubject"}
          .control-group
            .control-label
              Message  
              %span.required *
            .controls
              %textarea#contactMessage.input-xlarge{:name=>"contactMessage"}
          .form-actions{:style=>"margin:0px -19px -19px -19px;"}
            %button.btn.btn-primary{:type=>"button", :onclick=>"submitContact();return false;"}
              Submit
            %button.btn{:type=>"reset"}
              Cancel
        :javascript
          $(function() { $('#contactMessage').autogrow(); })
          
          function submitContact() {
            var contactName = $("input#contactName").val();
            var contactEmail = $("input#contactEmail").val();
            var contactSubject = $("input#contactSubject").val();
            var contactMessage = $("textarea#contactMessage").val();
            
            var request = $.ajax({
              type: "POST",
              url: "http://ptools.pauldijou.fr/contact.php",
              data: {contactName: contactName, contactEmail: contactEmail, contactSubject: contactSubject, contactMessage: contactMessage}
            });
            
            request.done(function(msg) {
              alert(msg);
            });
            
            request.fail(function(jqXHR, textStatus) {
              alert( "Request failed: " + textStatus );
            });
            
            return false;
          }
          
    
    .span4
      .well
        %h6.bot10 Email
        %p
          paul.dijou.dev at gmail.com
      .well
        %h6.bot10 Twitter
        %p
          %a.twitter-follow-button{:href=>"https://twitter.com/paul_dijou"} Follow @paul_dijou
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %p
          %a.twitter-mention-button{:href=>"https://twitter.com/intent/tweet?screen_name=paul_dijou", "data-related"=>"paul_dijou"} Tweet to @paul_dijou
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          
      .well
        %h6 IRC
        %p
          I'm killing time on 
          %a{:href=>"http://freenode.net/"} irc.freenode.net 
          on one of the following channel:
        %ul.unstyled{:style=>"margin-left:20px;"}
          %li #richfaces
          %li #deltaspike
          %li #jbosstesting
          %li #forge
          %li #seam-dev
        %p
          If you don't have an IRC client, just click on this link: 
          %a{:href=>"http://webchat.freenode.net/", :target=>"_blank"} webchat.freenode.net
          