---
layout: main
title: Resume
---
.row.resume
  .col.col-md-7
    %section.about-me
      %h2 Paul Dijou
      %dl.dl-horizontal.dl-title-100
        %dt Age
        %dd
          %span 27 years old (Oct 10, 1986)
        %dt Email
        %dd
          %span paul.dijou at gmail.com
        %dt GitHub
        %dd
          %span
            %a{:href => "https://github.com/pauldijou"} pauldijou

    %section.experience
      %h2 Experience
      %dl
        %dt 2014 - Now
        %dd
          Working at <a href="http://movio.co/">Movio</a>
        %dt 2012 - 2014 (2 years)
        %dd
          Working at <a href="http://www.zengularity.com/">Zengularity</a> (previously Zenexity), enjoying building uber websites using <a href="http://www.playframework.com/">Play</a>, Scala, MongoDB, and, of course, HTML5, CSS3, JavaScript, and all that awesome stuff we call open-source and internet.
        %dt 2012 (2 months)
        %dd
          Through <a href="http://www.startupbootcamp.org/europeans-cities/amsterdam/">Startup Bootcamp</a> program which aims to help startups beginning their lives, I joined <a href="http://www.mipagar.com/">Mipagar</a> team to help them finishing their user interface based on JSF and RichFaces and their RESTful API using Java EE 6 new features. For the user interface, <strong>RichFaces Bootstrap</strong> has been used with really good feedbacks.
        %dt 2010 - 2012 (2 years)
        %dd
          Working at <a href="http://www.celad.com/">CELAD</a>, an IT firm, my first real job was to develop and maintain Java EE applications for <a href="http://www.intertitres.natixis.com">Intertitres</a>, a subsidiary of <a href="http://www.natixis.com">Natixis</a>, a french bank, using an internal framework based on Spring, Seam 2 and JSF.
        %dt 2009 - 2011 (2 years)
        %dd
          At the same time I was studying or working, I was also self-employed in order to realize e-commerce projects during my free time, using PHP or Java EE.

    %section.studies
      %h2 Studies
      %dd
        %dt End 2009
        %dd <a href="http://www.polymtl.ca/en/"><abbr title="Ecole Polytechnique of Montreal">EPM</abbr></a> (Montreal, Canada), exchange program during one semester.
        %dt 2007 - 2010
        %dd <a href="http://www.enseeiht.fr/en/index.html"><abbr title="Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications">ENSEEIHT</abbr></a> (Toulouse, France), engineer degree in Mathematics and Computer Science.
        %dt 2004 - 2007
        %dd <a href="http://pedagogie.ac-toulouse.fr/lyc-fermat-toulouse/rens_cpge/mppc.php">Lycée Pierre de Fermat</a> (Toulouse, France), two-years highly selective classes to prepare for competitive exams to "Grandes Ecoles".
        %dt 2004
        %dd Scientific "Baccalauréat", with distinction.

    %section.langs
      %h2 Langs
      %dl.dl-horizontal.dl-title-100
        %dt French
        %dd
          %span Native speaker
        %dt English
        %dd
          %span Professional (TOEIC: 910 / 990)

  .col.col-md-5
    %section.skills
      %h2 Skills
      %dl
        %dt Languages
        %dd
          %ul
            %li Scala
            %li Java, Java EE
            %li HTML5
            %li CSS3, LESS, SASS
            %li JavaScript, JSON
        %dt Web
        %dd
          %ul
            %li AngularJS
            %li Play framework
            %li Node
            %li Too much JavaScript libraries
        %dt Java EE
        %dd
          %ul
            %li <abbr title="Context and Dependency Injection">CDI</abbr> (Weld, OpenWebBean)
            %li DeltaSpike
            %li <abbr title="Java Server Faces">JSF</abbr>
            %li <abbr title="Java Persistence API">JPA</abbr> (Hibernate, OpenJPA)
            %li <abbr title="Enterpriser Java Bean">EJB</abbr>
            %li JAX-RS
            %li Spring
        %dt Databases
        %dd
          %ul
            %li MongoDB
            %li PostgreSQL
            %li MySQL
            %li Oracle
        %dt Tools
        %dd
          %ul
            %li Sublime Text
            %li Git, SVN, Dimension
            %li Grunt, Bower, NPM
            %li Mavent, Ant, Gradle
            %li Jenkins, Hudson
            %li Sonar
