---
layout: page
---
.todo
  .title
    %h1 Jedi TODO List
    %h6 Choose your level
    %h6 Choose your task
    %h6 Do... or do not. There is no try.
    - for level in site.levels
      %a.btn{:href=>"#"+level.selector, :class=>level.classes, :data=>{:parent=>"#levels", :toggle=>"collapse"}}= level.label
  #levels
    #container.container
      .span6.offset3
        - for level in site.levels
          %div{:id=>level.selector, :class=>level.in ? 'in' : 'collapse'}
            %ul.nav.nav-list.well
              %li.nav-header= level.label
              %li.divider
              - for task in level.tasks
                %li.task
                  - if task.status == 'done'
                    %i.fa.fa-ok-sign
                  - if task.status == 'inprogress'
                    %i.fa.fa-repeat
                  - if task.status == 'fail'
                    %i.fa.fa-remove-sign
                  - if task.status != 'done' && task.status != 'inprogress' && task.status != 'fail'
                    %i.fa.fa-question-sign
                  = task.label
                  - if task.url && task.url.length > 0
                    %a{:href=>task.url, :target=>"_blank"} Learn more...
                  - if task.status == 'inprogress'
                    .progress.progress-striped.active
                      .bar{:style=>"width:#{task.progress};"}
                %li.divider
              .row-fluid{:style=>"margin-top:10px;"}
                .span6
                  %ul.nav.nav-list
                    %li.nav-header Legend
                    %li
                      %i.fa.fa-ok-sign
                      Done
                    %li
                      %i.fa.fa-repeat
                      In progress
                    %li
                      %i.fa.fa-question-sign
                      Not yet try
                    %li
                      %i.fa.fa-remove-sign
                      Fail
                .span6
                  %ul.nav.nav-list
                    %li.nav-header Show progression
                    %li
                      .btn-group.btn-show-progression{"data-toggle"=>"buttons-radio"}
                        .btn.btn-yes{:onclick=>"showProgress();"} Yes
                        .btn.btn-no.active{:onclick=>"hideProgress();"} No
                        
