@-webkit-keyframes bounce-vertical {
  0%, 100% {top: 0; }
  50% {top: 30px; }
}
@-moz-keyframes bounce {
  0%, 100% {top: 0; }
  50% {top: 30px; }
}
@-o-keyframes bounce {
  0%, 100% {top: 0; }
  50% {top: 30px; }
}
@keyframes bounce {
  0%, 100% {top: 0; }
  50% {top: 30px; }
}

.bounce-vertical {
  position: relative;
  .animation(bounce-vertical 1.5s infinite)
}

@-webkit-keyframes bounce-horizontal {
  0%, 100% {left: 0; }
  7% {left: -30px; }
  21% {left: 30px; }
  35% {left: -30px; }
  49% {left: 30px; }
  63% {left: 0px; }
}
@-moz-keyframes bounce {
  0%, 100% {left: 0; }
  7% {left: -30px; }
  21% {left: 30px; }
  35% {left: -30px; }
  49% {left: 30px; }
  63% {left: 0px; }
}
@-o-keyframes bounce {
  0%, 100% {left: 0; }
  7% {left: -30px; }
  21% {left: 30px; }
  35% {left: -30px; }
  49% {left: 30px; }
  63% {left: 0px; }
}
@keyframes bounce {
  0%, 100% {left: 0; }
  7% {left: -30px; }
  21% {left: 30px; }
  35% {left: -30px; }
  49% {left: 30px; }
  63% {left: 0px; }
}

.bounce-horizontal {
  position: relative;
  .animation(bounce-horizontal 2s ease infinite)
}