.posts {
  .post {
    border-bottom: 2px solid @gray-dark-alt;
  }
}

.post {
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  h2, h3, h4, .meta, p, .footer, .pagination, ul, ol, dl {
    max-width: 830px;
    margin: 3em auto;
  }

  @media (min-width: @screen-md-min) {
    pre {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  h2 {
    text-align: center;
    font-size: 2em;

    a { text-decoration: none; }
  }

  h3 {
    font-size: 1.5em;
  }

  .meta { text-align: right; }

  p {
    text-align: justify;
  }

  pre {
    font-size: 16px;
  }

  .meta, .content, .footer {
    a {
      color: @color-link;
      text-decoration: underline;

      &:hover {
        color: @color-link-alt;
      }
    }
  }

  .alert a {
    color: @gray-light;
    text-decoration: underline;

    &:hover {
      color: @gray-light-alt;
    }
  }

  .separator::before {
    content: "|";
    margin: 0 5px;
  }

  .footer {
    .tags {
      margin-top: 20px;
    }
  }

  .pagination {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;

    .button {
      text-transform: initial;
    }

    @media (min-width: @screen-sm-min) {
      .button {
        text-transform: uppercase;
      }
    }

    @media (min-width: @screen-md-min) {
      font-size: 18px;
    }
  }

  @media (max-width: @screen-sm-max) {
    .separator {
      display: none;
    }

    [data-disqus-identifier] {
      display: none;
    }

    .footer {
      a.button, .tags {
        width: 80%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }

      a.button {
        color: @gray-dark !important;
        text-decoration: none !important;

        &:hover {
          color: @gray-light !important;
        }
      }

      .tags {
        display: block;
        text-align: center;
        border: 2px solid @gray-dark;

        .tag {
          display: block;
          width: 80%;
          padding: 10px;
          margin: 5px auto;
          font-size: 18px;
        }
      }
    }
  }
}
