body {
  color: @gray-dark;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  .transition(color 0.5s;);

  &:hover, &:focus {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.section-alt, .section-blue, .section-red {
  color: @gray-light;
  
  .button {
    color: @gray-light;
    border-color: @gray-light;

    &:hover {
      color: @gray-dark;
      background-color: @gray-light;
    }
  }
}

.section-alt {
  background-color: @gray-dark;
  
  h2, h3 {
    border-color: @gray-dark-alt;
  }
}

.section-blue {
  background-color: @blue;
  
  h2, h3 {
    border-color: @blue-alt;
  }
}

.section-red {
  background-color: @red;
  
  h2, h3 {
    border-color: @red-alt;
  }
}

code {
  &:extend(code[class*="language-"] all);
}
