.index {
  .name, .job {
    font-weight: 400;
    color: @blue;
  }

  .name {
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  section {
    padding-bottom: 50px;

    &.centered {
      text-align: center;
    }

    &.right {
      @media (min-width: @screen-md) {
        h2 {
          text-align: right;
        }
      }
    }

    h2 {
      font-size: 1.9em;

      .fa {
        margin: 0 10px;
      }
    }

    h3 {
      border-bottom-width: 5px;
      border-bottom-style: solid;
      margin: 1em -10px;
      padding: 10px;
    }

    .button {
      display: block;
      text-align: center;
      margin-top: 50px;
    }

    .description {
      text-align: justify;
    }

    .last {
      list-style-type: none;
      padding: 0;

      a {
        display: block;
        padding: 10px;
        margin: 0 -10px;
        .transition(background-color (2 * @transition-duration););

        &:hover {
          .transition(background-color @transition-duration;);
        }

        h4 {
          margin-top: 0;
          margin-bottom: 0.3em;
        }
      }
    }
  }

  .job {
    font-size: 42px;
    position: relative;
    top: -30px;
    opacity: 0;
    .transition(opacity @transition-duration, top 1s;);


    &.visible {
      top: 0px;
      opacity: 1;
    }

    span {
      display: inline-block;
      //.transition(all 1s;);

      &:hover {
        .bounce-horizontal();
      }
    }
  }

  .web, .techno, .blog, .contact-me {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .web, .techno, .blog {
    color: @gray-light;

    h3 {
      border-color: @gray-light;
    }

    .button {
      color: @gray-light;
      border-color: @gray-light;

      &:hover {
        color: @gray-dark;
        background-color: @gray-light;
      }
    }
  }

  .web {
    background-color: @red;
    h3 { border-color: @red-alt; }
    .last {
      a:hover { background-color: @red-alt; }
    }
  }

  .techno {
    background-color: @green;
    h3 { border-color: @green-alt; }

    .row-top {
      margin-top: 50px;
    }

    .play {
      margin-top: 6%;
    }
  }


  .blog {
    background-color: @blue;
    h3 { border-color: @blue-alt; }
    .last {
      a:hover { background-color: @blue-alt; }
    }
  }

  .contact-me {
    .section-twitter {
      & > iframe {
        width: 100% !important;
      }
    }

    div + .section-twitter {
      margin-top: 50px;
    }

    @media (min-width: @screen-md) {
      div + .section-twitter {
        margin-top: 0px;
      }
    }
  }
}
