.menu {
  background-color: @blue;
  color: @gray-light;
  text-align: center;

  a {
    padding: 15px 10px;
    margin-left: -(@grid-gutter-width / 2);
    margin-right: -(@grid-gutter-width / 2);
    display: block;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    .transition(background-color 500ms;);

    &:hover {
      background-color: @red;
    }
  }

  .nav-label {
    display: none;
  }

  @media (min-width: @screen-md) {
    .nav-label {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
