.projects {
  @project-height: 250px;
  @project-padding: 20px;

  .project {
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    .transition(opacity 1.5s;);

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    .content {
      position: relative;
      background-color: @red;
      color: @gray-light;
      height: @project-height;
      padding: @project-padding;
      overflow: hidden;

      .summary {
        .date {
          margin-bottom: 10px;
        }
      }

      .detail {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: @project-padding;
        .transition(top 1s, bottom 1s, left 1s, right 1s, opacity 0.5s;);
        
        background-color: @blue;
        opacity: 0;

        &.top {
          top: -100%;
          bottom: 100%;
        }

        &.bottom {
          top: 100%;
          bottom: -100%;
        }

        &.left {
          left: -100%;
          right: 100%;
        }

        &.right {
          left: 100%;
          right: -100%;
        }

        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: justify;

          a {
            text-decoration: underline;
          }
        }

        &.has-more .description {
          max-height: @project-height - 110px;
        }

        .link-more {
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }

      &:hover .detail {
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .transition(top 1s, bottom 1s, left 1s, right 1s;);
      }
    }
  }
}

.project {

}
