.projects {
  padding: 0;

  .project {
    position: relative;
    padding: 50px 30px;
    opacity: 0;
    visibility: hidden;
    .transition(opacity 1.5s;);

    h2 {
      padding-top: 0;
      margin-top: 0;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    &.alt {
      background-color: @gray-dark;
      color: @gray-light;

      .detail {
        border-color: @gray-dark-alt;
      }
    }

    &.blue {
      background-color: @blue;
      color: @gray-light;

      .detail {
        border-color: @blue-alt;
      }
    }

    &.red {
      background-color: @red;
      color: @gray-light;

      .detail {
        border-color: @red-alt;
      }
    }

    .summary {
      .date {
        margin-bottom: 10px;
      }
    }

    .detail {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      border-top-width: 5px;
      margin-top: 20px;
      padding-top: 20px;

      .description {
        text-align: justify;

        a {
          text-decoration: underline;
        }
      }

      .link-more {
        text-align: center;
        margin-top: 10px;
      }

      @media (min-width: @screen-md) {
        border-top-width: 0;
        border-left-width: 5px;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.project {
  
}
