.social {
  text-align: center;

  li {
    opacity: 0;
    width: 32%;
    margin-bottom: 20px;
  }

  &.visible {
    li {
      opacity: 1;
    }
  }

  a {
    display: inline-block;
    color: @blue;
    border: 2px solid #ffffff;
    .transition(color 1s, background-color 1s, border-color;);
    border-radius: 50%;
    padding-top: 12px;
    width: 85px;
    height: 80px;

    &:hover {
      border-color: @gray-light-alt;

      &.twitter {
        color: #00ACEE;
      }

      &.github {
        color: #555555;
      }

      &.google_plus {
        color: #CF3E2C;
      }

      &.linkedin {
        color: #3399CC;
      }

      &.rss {
        color: #EC8232;
      }

      &.email {
        color: @gray-dark;
      }
    }
  }
}

@media (min-width: @screen-sm) {
  .social {
    li {
      width: auto;
    }
  }
}
