<div class="posts">
  {% for post in include.paginator.posts %}
    {% include post.html post=post %}
  {% endfor %}
</div>

<ul class="list-inline pagination text-center visible-xs visible-sm">
  <li>
    {% if include.paginator.previous_page %}
      <a class="button" href="{{ include.paginator.previous_page_path | relative_url | replace: '//', '/' }}">
        {% icon angle-left large %}
        Previous
      </a>
    {% else %}
      <span class="button disabled">
        {% icon angle-left large %}
        Previous
      </span>
    {% endif %}
  </li>

  <li>
    {% if include.paginator.next_page %}
      <a class="button" href="{{ include.paginator.next_page_path | relative_url | replace: '//', '/' }}">
        Next
        {% icon angle-right large %}
      </a>
    {% else %}
      <span class="button disabled">
        Next
        {% icon angle-right large %}
      </span>
    {% endif %}
  </li>
</ul>

<ul class="list-inline pagination text-center hidden-xs hidden-sm">
    {% if include.paginator.previous_page %}
      <li>
        <a class="button" href="/blog/">
          {% icon angle-double-left large %}
          First
        </a>
      </li>
      <li>
        <a class="button" href="{{ include.paginator.previous_page_path | relative_url | replace: '//', '/' }}">
          {% icon angle-left large %}
          Previous
        </a>
      </li>
    {% else %}
      <li>
        <span class="button disabled">
          {% icon angle-double-left large %}
          First
        </span>
      </li>
      <li>
        <span class="button disabled">
          {% icon angle-left large %}
          Previous
        </span>
      </li>
    {% endif %}

    <li>
      <span class="button">{{ include.paginator.page }} of {{ include.paginator.total_pages }}</span>
    </li>

    {% if include.paginator.next_page %}
      <li>
        <a class="button" href="{{ include.paginator.next_page_path | relative_url | replace: '//', '/' }}">
          Next
          {% icon angle-right large %}
        </a>
      </li>
      <li>
        <a class="button" href="/blog/page/{{ include.paginator.total_pages }}/">
          Last
          {% icon angle-double-right large %}
        </a>
      </li>
    {% else %}
      <li>
        <span class="button disabled">
          Next
          {% icon angle-right large %}
        </span>
      </li>
      <li>
        <span class="button disabled">
          Last
          {% icon angle-double-right large %}
        </span>
      </li>
    {% endif %}
</ul>

<div style="margin-bottom:20px;text-align:center;">
  {% include subscribe.html %}
</div>

<script id="dsq-count-scr" src="https://{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
