<section>
  {% if page.alone %}
    <ul class="pager visible-desktop" style="float:right">
      <li>
        <a href="previous">Previous</a>
        <a href="previous">Next</a>
      </li>
    </ul>
  {% endif %}

  <h2>
    <a href="{{page.project.url}}">{{page.project.title}}</a>
    {% if page.project.project_date %}
      <h5>{{page.project.project_date}}</h5>
    {% endif %}
  </h2>

  <blockquote>
    <dl class="dl-horizontal">
      {% if page.project.project_type %}
        <dt><h6>Project type</h6></dt>
        <dd>{{ page.project.project_type }}</dd>
      {% endif %}

      {% if page.project.project_url %}
        <dt><h6>Url</h6></dt>
        <dd>
          <a target="_blank" href="{{page.project.project_url}}">
            {{ page.project.project_url | truncate: site.max_url_label_size }}
          </a>
        </dd>
      {% endif %}

      {% if page.project.project_technologies %}
        <dt><h6>Technologies</h6></dt>
        <dd>{{ page.project.project_technologies | join: ', ' }}</dd>
      {% endif %}

      {% if page.project.tags %}
        <dt><h6>Tags</h6></dt>
        <dd>{{ page.project.tags | join: ', ' }}</dd>
      {% endif %}
    </dl>
  </blockquote>

  {% if page.project.has_more %}
    <div class="content">
      {% if page.alone %}
        {{ page.project.content }}
      {% else %}
        <a href="{{page.project.url}}">Learn more...</a>
      {% endif %}
    </div>
  {% endif %}
</section>
