.social-menu.clearfix
  %h6 Did you like it? Please, share it!
  .social-item.twitter
    %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", "data-lang"=>"en", "data-count"=>"vertical"}
      Tweet
  .social-item.google-plus
    .g-plusone{"data-size"=>"tall", "data-annotation"=>"bubble"}
  .social-item.dzone
    <script language="javascript" src="http://widgets.dzone.com/links/widgets/zoneit.js"></script>
  .social-item.delicious
    %a{:href=>"http://www.delicious.com/save", :style=>"text-align:center;", "onclick"=>"window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"}
      %img{:src=>"/images/icons/delicious_32.png"}
      %br/
      Delicious
      %br/
      Bookmark

:javascript
  var page_url = location.href;
  console.log(page_url);
  
  $('.social-menu .twitter a.twitter-share-button').attr('data-url', page_url);
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  
  var dzone_url = page_url;
  var dzone_title = '#{page.title}';
  var dzone_blurb = 'aze';
  var dzone_style = '1';
  
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  