h6 {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  margin: 0px;
}

.dl-horizontal dt {
  white-space: normal;
}

.last-posts h3, .last-projects h3 {
  line-height: 27px;
  font-size: 18px;
  margin: 5px 0px;
}

fieldset {
	margin-top: 10px;
}

legend {
	margin-bottom: 10px;
}

.well > ul.nav {
  padding: 0px;
}

dl.dl-horizontal dt h6 {
  position: relative;
  top: 1px;
}

.page {
  #container {
    margin-top:20px;
    overflow:hidden;
  }
  
  .no-footer {
    padding-bottom:50px;
  }
}

#container.index {
  .well {
    position:relative;
    top:1500px;
  }
}

#levels {
  .task .progress {
    background-color: white;
    background-image: none;
    margin-top: 5px;
  }
}

.nav-list > li.resume > a {
	padding: 3px 15px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.btn-wrapper {
  position: relative;
  left: -50%;
  float: right;
  
  .btn-group {
    position: relative;
    left: 50%;
  }
}

// Visibility utilities

// For desktops
@media (min-width: 980px) {
	.visible-phone     { display: none !important; }
	.visible-tablet    { display: none !important; }
	.visible-desktop   { display:inherit; }
	.hidden-phone      { display:inherit; }
	.hidden-tablet     { display:inherit; }
	.hidden-desktop    { display: none !important; }
	
	#container {
	  margin-top: 60px;
	}
}

@media (max-width:979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  
  .title {
    margin-top: 0px;
    width: 100%;
    margin-left: -20px;
  }
  
  #container {
    margin-top: 20px;
  }
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
	.visible-phone     { display: none !important; }
	.visible-tablet    { display:inherit; }
	.visible-desktop   { display: none !important; }
	.hidden-phone      { display:inherit; }
	.hidden-tablet     { display: none !important; }
	.hidden-desktop    { display:inherit; }
	
	#container.index .well a.btn {
    margin-bottom: 10px;
  }
  
  #container.index .well a.btn:last-child {
    margin-bottom: 0px;
  }
}

// Phones only
@media (max-width: 767px) {
	.visible-phone     {  }
	.visible-tablet    { display: none !important; }
	.visible-desktop   { display: none !important; }
	.hidden-phone      { display: none !important; }
	.hidden-tablet     { display:inherit; }
	.hidden-desktop    { display:inherit; }
}

@media (max-width: 480px) {
  .form-horizontal .control-label {
    float: none;
    text-align: left;
    width: auto;
  }
}

@media (max-width: 767px) {
	.dl-horizontal dt {
		float: none;
		text-align: left;
		width: auto;
	}
	
	.dl-horizontal dd {
		margin-left: 9px;
	}
	
	.title h1 {
	  font-size: 50px;
	  line-height: 55px;
	}
}

@media (max-width:1490px) {
	.github-fork {
		display: none !important;
	}
}