@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "ie";
@import "prettify";
@import "print";
@import "override";

p, dd, div.alert {
	text-align: justify;
}

footer {
  padding-bottom: 30px;
}

.center {
  text-align: center !important;
}

.post-comments {
	float: right;
}

.prettyprint {
  text-align: left !important;
}

a.icon32 {
	height: 30px;
}

ul.icons li {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.social-menu {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	padding: 10px;
	margin-bottom: 10px;
}

.social-item {
}

.talk {
  font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
  text-shadow: 0 1px 0 #fff;

  &.yellow {
    color: #c09853;
  }

  &.green {
    color: #468847;
  }

  &.red {
    color: #b94a48;
  }

  &.blue {
    color: #3a87ad;
  }
}

.posts .post {
  margin-bottom: 40px;
}

.post {
  h2 > a {
    margin-right: 15px;
  }
  
  h2, .content, .footer {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
  }
  
  h2 a:hover {
    text-decoration: none;
  }
  
  h3 {
  	padding-top: 5px;
  }
  
  .nav {
    margin-bottom: 0px;
  }

  .pager.top {
    margin: 0px;
  }
  
  .content {
  	padding-bottom: 15px;
  }
  
  .footer {
    padding-bottom: 10px;
  }
  
  .meta {
    margin-bottom: 10px;
  }
  
  a.tag {
    background-color: #999999;
    @include border-radius(3px);
    font-size: 11px;
    color: white;
    padding: 2px 4px;
    font-weight: bold;
    text-decoration: none;
  }
  
  a.tag:hover {
    background-color: #B94A48;
  }
}

.project {
  a.tag {
    background-color: #999999;
    @include border-radius(3px);
    font-size: 11px;
    color: white;
    padding: 2px 4px;
    font-weight: bold;
    text-decoration: none;
  }
  
  a.tag:hover {
    background-color: #B94A48;
  }
}

.todo {
  a.btn {
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .title a.btn:last-child {
    margin-right: 0px;
  }
  
  #levels {
    li.task a {
      white-space:nowrap;
      display:inline;
      margin-left: 0px;
    }
    
    .progress {
      display: none;
    }
  }
  
  #levels.show-progress .progress {
    display: block;
  }
}

.post-date {
	margin-bottom: 5px;
}

.comments {
	
}

.project dl.dl-horizontal dt, .project dl.dl-horizontal dd {
	margin-bottom: 5px;
}

li.resume {
	background-repeat: no-repeat;
	padding-left: 35px;
	margin-bottom: 5px;
	background-position: 0px 3px;
}

li.pdf {
	background-image: url('/images/icons/pdf_16.png');
}

li.odt {
	background-image: url('/images/icons/odt_16.png');
}

.title {
  background: url('/images/titlebackground.png') repeat scroll 0 0 #474747;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  line-height: 1;
}

.title h1 {
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 65px;
  color: #999999;
  @include single-text-shadow(#2A2A2A, 0px, 3px, 8px);
}

.title h6 {
  font-size: 16px;
  line-height: 30px;
}

ul.twitter-list li {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #E5E5E5;
}

ul.twitter-list li.nav-header {
  margin-top: 0px;
  border-bottom: 0px;
}

.bot10 {
  margin-bottom: 10px;
}

.bot15 {
  margin-bottom: 15px;
}

.bot20 {
  margin-bottom: 20px;
}

.required {
  color: red;
}

.carousel {
  margin: 0px auto;
}

.carousel .item > img {
  width: 100%;
}

.tag-cloud {
	.tag-0 {
	    font-size: 1em;
	    opacity: 0.8;
	}
	.tag-1 {
	    font-size: 1.15em;
	    opacity: 0.85;
	}
	.tag-2 {
	    font-size: 1.3em;
	    opacity: 0.9;
	}
	.tag-3 {
	    font-size: 1.45em;
	    opacity: 0.95;
	}
	.tag-4 {
	    font-size: 1.6em;
	    opacity: 1;
	}
	.tag-5 {
	    font-size: 1.75em;
	    opacity: 1;
	}
	.tag-6 {
	    font-size: 1.9em;
	    opacity: 1;
	}
	.tag-7 {
	    font-size: 2.05em;
	    opacity: 1;
	}
	.tag-8 {
	    font-size: 2.2em;
	    opacity: 1;
	}
	.tag-9 {
	    font-size: 2.35em;
	    opacity: 1;
	}
	.tag-10 {
	    font-size: 2.5em;
	    opacity: 1;
	}
	.tag-11 {
	    font-size: 2.65em;
	    opacity: 1;
	}
}

iframe.slides {
  border: 1px solid black;
  display: block;
  margin: 5px auto;
  width: 800px;
  height: 600px;
}

@media (min-width: 1200px) {
  iframe.slides {
    width: 1000px;
    height: 750px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  iframe.slides {
    width: 700px;
    height: 525px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  iframe.slides {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  iframe.slides {
    display: none;
  }
}