---
layout: main
---
{% capture end %}
  <div class="pagination">
    <div class="row">
      <div class="col-xs-6">
        {% if page.previous.url %}
          <a class="button block previous" href="{{page.previous.url}}">Previous</a>
        {% else %}
          <span class="button block previous disabled">Previous</span>
        {% endif %}

      </div>
      <div class="col-xs-6">
        {% if page.next.url %}
          <a class="button block next" href="{{page.next.url}}">Next</a>
        {% else %}
          <span class="button block next disabled">Next</span>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="disqus_thread"></div>

  <script>
    // Learn more: https://disqus.com/admin/universalcode/#configuration-variables
    var disqus_config = function () {
      this.page.url = '{{ page.url | relative_url }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      this.page.title = '{{ page.title }}';
      // this.page.category_id = '';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
{% endcapture %}

{% include post.html post=page end=end %}

<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
