!!!
%html
  %head
    %meta{ :charset=>'utf-8' }
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %title
      #{site.title} / #{page.title ? page.title : site.default_page_title }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/style.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/bootstrap.min.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/bootstrap-responsive.min.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/override.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/prettify.css', :media=>'screen, projection' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %script{ :type=>'text/javascript', :src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap.min.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/prettify.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/main.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{ :type=>'text/javascript', :src=>javascript }
  %body{ :data=>{ :target=>".spynav", :spy=>"scroll", :offset=>"#{site.scroll_spy_offset}" } }
    ~ content