---
layout: base
stylesheets: [/stylesheets/slides.css]
---
~ content

%link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet"}

#progress-bar

%script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/slides.js" }